.map {
  width: 640px;
  height: 640px;
  background: #d9f0f0;

  display: flex;
  flex-flow: column wrap;


  .row {
    width: 640px;
    height: 64px;
    background: #000;
    box-sizing: border-box;

    display: flex;
    flex-flow: row nowrap;
  }

  &.trace {
    .cell {
      opacity: 1;
      box-shadow: inset 64px 0 0 0 rgba(255, 0, 0, 0.3);
    }
    .free { opacity: 1; box-shadow: none; }
  }
}

.cell, .build {
  width: 64px;
  height: 64px;
  border-right: 1px dashed rgba(221, 221, 221, 0.5);
  border-bottom: 1px dashed rgba(221, 221, 221, 0.5);
  box-sizing: border-box;
  transition: opacity .2s;
  background: $sprites;
  &:hover {
    opacity: .89;
  }
}
