.grace {
  background-position: $grace !important;
}
.wood {
  background-position: $wood !important;
}
.water {
  background-position: $water !important;
}
.sand {
  background-position: $sand !important;
}
.pine-wood {
  background-position: $pine-wood !important;
}
.clay {
  background-position: $clay !important;
}
.gravel {
  background-position: $gravel !important;
}
.snow {
  background-position: $snow !important;
}
.tree {
  background-position: $tree !important;
}
.trees {
  background-position: $trees !important;
}
.fewTree {
  background-position: $fewTree !important;
}
.pine {
  background-position: $pine !important;
}
.pines {
  background-position: $pines !important;
}
.fewPines {
  background-position: $fewPines !important;
}
.stump {
  background-position: $stump !important;
}
.stumps {
  background-position: $stumps !important;
}
.fewStumps {
  background-position: $fewStumps !important;
}
.stumpsWood {
  background-position: $stumpsWood !important;
}

.shed {
  background-position: $shed !important;
}
.stock {
  background-position: $stock !important;
}
.house {
  background-position: $house !important;
}
.hangar {
  background-position: $hangar !important;
}
.smithy {
  background-position: $smithy !important;
}
.carpenter {
  background-position: $carpenter !important;
}
.tent {
  background-position: $tent !important;
}
.shop   {
  background-position: $shop !important;
}
