.grace {
  background-position: $grace !important;
}
.wood {
  background-position: $wood !important;
}
.water {
  background-position: $water !important;
}
.sand {
  background-position: $sand !important;
}
.pine-wood {
  background-position: $pine-wood !important;
}
.clay {
  background-position: $clay !important;
}
.gravel {
  background-position: $gravel !important;
}
