$sprites: url("../images/svg_sprites.svg");
$grace: 0 0;
$sand: -128px 0;
$clay: 0 -64px;
$water: 0 -128px;
$water2: -64px -128px;
$gravel: -128px -64px;
$wood: -192px -192px;
$pine-wood: -192px -256px;
$snow: -128px -128px;
$tree: 0 -192px;
$trees: -64px -192px;
$fewTree: -128px -192px;
$pine: 0 -256px;
$pines: -64px -256px;
$fewPines: -128px -256px;
$stump: 0 -320px;
$stumps: -64px -320px;
$fewStumps: -128px -320px;
$stumpsWood: -192px -320px;

$shed: 0 -384px;
$stock: -64px -384px;
$house: -128px -384px;
$hangar: -192px -384px;
$smithy: 0 -448px;
$carpenter: -64px -448px;
$tent: -128px -446px;
$shop: -192px -447px;



body, html {
  margin: 0;
  padding: 0;
}

@import "./sass/map";
@import "./sass/tools";
@import "./sass/textures";

.screen {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}
