body, html {
  margin: 0;
  padding: 0; }

.map {
  width: 640px;
  height: 640px;
  background: #d9f0f0;
  display: flex;
  flex-flow: column wrap; }
  .map .row {
    width: 640px;
    height: 64px;
    background: #000;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap; }
  .map.trace .cell {
    opacity: 1;
    box-shadow: inset 64px 0 0 0 rgba(255, 0, 0, 0.3); }
  .map.trace .free {
    opacity: 1;
    box-shadow: none; }

.cell, .build {
  width: 64px;
  height: 64px;
  border-right: 1px dashed rgba(221, 221, 221, 0.5);
  border-bottom: 1px dashed rgba(221, 221, 221, 0.5);
  box-sizing: border-box;
  transition: opacity .2s;
  background: url("../images/svg_sprites.svg"); }
  .cell:hover, .build:hover {
    opacity: .89; }

.tools {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  list-style: none;
  padding: 0 10px 0;
  margin: 0;
  background: #c3d6f4; }
  .tools .tools-item {
    width: 100%;
    text-align: center;
    cursor: default;
    margin: 0;
    padding: 10px 5px;
    transition: all .2s; }
    .tools .tools-item .sub-tools {
      display: none;
      margin: auto;
      padding: 0; }
  .tools .tools-item.active {
    background: #537399; }
    .tools .tools-item.active .sub-tools {
      display: flex;
      flex-flow: row wrap;
      list-style: none; }
      .tools .tools-item.active .sub-tools .tool {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 64px;
        height: 64px;
        transition: all .2s;
        background: url("../images/svg_sprites.svg");
        color: #fff;
        text-shadow: 0 0 15px #000; }

.grace {
  background-position: 0 0 !important; }

.wood {
  background-position: -192px -192px !important; }

.water {
  background-position: 0 -128px !important; }

.sand {
  background-position: -128px 0 !important; }

.pine-wood {
  background-position: -192px -256px !important; }

.clay {
  background-position: 0 -64px !important; }

.gravel {
  background-position: -128px -64px !important; }

.snow {
  background-position: -128px -128px !important; }

.tree {
  background-position: 0 -192px !important; }

.trees {
  background-position: -64px -192px !important; }

.fewTree {
  background-position: -128px -192px !important; }

.pine {
  background-position: 0 -256px !important; }

.pines {
  background-position: -64px -256px !important; }

.fewPines {
  background-position: -128px -256px !important; }

.stump {
  background-position: 0 -320px !important; }

.stumps {
  background-position: -64px -320px !important; }

.fewStumps {
  background-position: -128px -320px !important; }

.stumpsWood {
  background-position: -192px -320px !important; }

.shed {
  background-position: 0 -384px !important; }

.stock {
  background-position: -64px -384px !important; }

.house {
  background-position: -128px -384px !important; }

.hangar {
  background-position: -192px -384px !important; }

.smithy {
  background-position: 0 -448px !important; }

.carpenter {
  background-position: -64px -448px !important; }

.tent {
  background-position: -128px -446px !important; }

.shop {
  background-position: -192px -447px !important; }

.screen {
  width: 100%;
  display: flex;
  flex-flow: row nowrap; }

/*# sourceMappingURL=style.css.map */
