body, html {
  margin: 0;
  padding: 0; }

.map {
  width: 640px;
  height: 640px;
  background: #d9f0f0;
  display: flex;
  flex-flow: column wrap; }
  .map .row {
    width: 640px;
    height: 64px;
    background: #000;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap; }
  .map.trace .cell {
    opacity: 1;
    box-shadow: inset 64px 0 0 0 rgba(255, 0, 0, 0.3); }
  .map.trace .free {
    opacity: 1;
    box-shadow: none; }

.cell, .build {
  width: 64px;
  height: 64px;
  border-right: 1px dashed rgba(221, 221, 221, 0.5);
  border-bottom: 1px dashed rgba(221, 221, 221, 0.5);
  box-sizing: border-box;
  transition: opacity .2s;
  background: url("../images/svg_sprites.svg"); }
  .cell:hover, .build:hover {
    opacity: .89; }

.tools {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  list-style: none;
  padding: 0 10px 0;
  margin: 0;
  background: #c3d6f4; }
  .tools .tools-item {
    width: 100%;
    text-align: center;
    cursor: default;
    margin: 0;
    padding: 10px 5px;
    transition: all .2s; }
    .tools .tools-item .sub-tools {
      display: none;
      margin: auto;
      padding: 0; }
  .tools .tools-item.active {
    background: #537399; }
    .tools .tools-item.active .sub-tools {
      display: flex;
      flex-flow: row wrap;
      list-style: none; }
      .tools .tools-item.active .sub-tools .tool {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 64px;
        height: 64px;
        transition: all .2s;
        background: url("../images/svg_sprites.svg");
        color: #fff;
        text-shadow: 0 0 15px #000; }

.grace {
  background-position: 0 0 !important; }

.wood {
  background-position: -192px -192px !important; }

.water {
  background-position: 0 -128px !important; }

.sand {
  background-position: -128px 0 !important; }

.pine-wood {
  background-position: -192px -256px !important; }

.clay {
  background-position: 0 -64px !important; }

.gravel {
  background-position: -128px -64px !important; }

.snow {
  background-position: -128px -128px !important; }

.tree {
  background-position: 0 -192px !important; }

.trees {
  background-position: -64px -192px !important; }

.fewTree {
  background-position: -128px -192px !important; }

.pine {
  background-position: 0 -256px !important; }

.pines {
  background-position: -64px -256px !important; }

.fewPines {
  background-position: -128px -256px !important; }

.stump {
  background-position: 0 -320px !important; }

.stumps {
  background-position: -64px -320px !important; }

.fewStumps {
  background-position: -128px -320px !important; }

.stumpsWood {
  background-position: -192px -320px !important; }

.shed {
  background-position: 0 -384px !important; }

.stock {
  background-position: -64px -384px !important; }

.house {
  background-position: -128px -384px !important; }

.hangar {
  background-position: -192px -384px !important; }

.smithy {
  background-position: 0 -448px !important; }

.carpenter {
  background-position: -64px -448px !important; }

.tent {
  background-position: -128px -446px !important; }

.shop {
  background-position: -192px -447px !important; }

.menu {
  position: absolute;
  border-radius: 5px;
  border: 1px solid #6b6b6b;
  background: rgba(255, 255, 255, 0.7);
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden; }
  .menu li {
    padding: 5px 10px; }
    .menu li:hover {
      background: #629cff;
      color: #fff; }

.buildWindow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 70%;
  height: 70%;
  min-width: 800px;
  min-height: 500px;
  background: rgba(255, 255, 255, 0.86);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.68);
  border-radius: 5px;
  overflow-y: scroll; }
  .buildWindow .list {
    list-style: none;
    padding: 20px;
    margin: 0; }
    .buildWindow .list .item-list {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      cursor: default; }
      .buildWindow .list .item-list.disable {
        filter: grayscale(1);
        -webkit-filter: grayscale(1);
        -moz-filter: grayscale(1); }
      .buildWindow .list .item-list .cover {
        min-width: 64px;
        height: 64px;
        margin: 10px;
        background: url("../images/svg_sprites.svg"); }
      .buildWindow .list .item-list .content {
        padding: 10px 0; }
        .buildWindow .list .item-list .content .title {
          margin: 0; }
      .buildWindow .list .item-list:hover {
        background: #9eceff; }

.screen {
  width: 100%;
  display: flex;
  flex-flow: row wrap; }
  .screen .header {
    width: 100%;
    height: 30px;
    background: #dbe2ed;
    display: flex;
    align-items: center;
    flex-flow: row nowrap; }
    .screen .header .info {
      padding: 0 10px; }

/*# sourceMappingURL=style.css.map */
